{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UnicornAttractor Issue Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    {% block head_js %}{% endblock head_js %}
</head>
<body>
<div class="container">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/pages/about">About</a></li>
            {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'uabugs' %}">Bug Reports</a></li>
                <li><a class="nav-link" href="{% url 'uafeatures' %}">Feature Requests</a></li>
                <li><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
                <li><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                <li><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
            {% endif %}
            <li><a class="nav-link" href="#">Contact</a></li>
        </ul>
        <h1><span class="fui-settings-16 muted">UnicornAttractor Issue Tracker</span></h1>
    </div>
    <hr>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <hr>
    <div class="footer">
        <p>Made By ChemicalDruid and Django </p>
    </div>
</div>
</body>

<!-- script references -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</html>
