{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
 
{% block head_js %}
   <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   
   <script>
       tinyMCE.init({mode: "textareas", theme: 'modern', plugins: 'paste'})
   </script>
{% endblock %}
 
 
{% block content %}
   <section>
       <div class="col-md-9">
           <form method="post" action="{% url 'new_bug' subject.id %}">
               {% csrf_token %}
               {{ bug_form | as_bootstrap }}
               <hr>
               {{ post_form | as_bootstrap }}
               <div class="form-group">
                   <button type="submit" class="btn-primary"> Post New Bug</button>
               </div>
           </form>
       </div>
   </section>
{% endblock %}